<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ThemeServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.ThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PostList</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.PostList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PostDetail</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.PostDetail</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoticesServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.NoticesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckState</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.CheckState</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPosts</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.UserPosts</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserComments</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.UserComments</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeletePosts</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.DeletePosts</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteComments</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.DeleteComments</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoticesAdmin</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.NoticesAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeadImage</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.HeadImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyPost</servlet-name>
    <servlet-class>cn.cqut.edu.servlet.ReplyPost</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThemeServlet</servlet-name>
    <url-pattern>/ThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostList</servlet-name>
    <url-pattern>/PostList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostDetail</servlet-name>
    <url-pattern>/PostDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticesServlet</servlet-name>
    <url-pattern>/NoticesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckState</servlet-name>
    <url-pattern>/CheckState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPosts</servlet-name>
    <url-pattern>/UserPosts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserComments</servlet-name>
    <url-pattern>/UserComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePosts</servlet-name>
    <url-pattern>/DeletePosts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteComments</servlet-name>
    <url-pattern>/DeleteComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticesAdmin</servlet-name>
    <url-pattern>/NoticesAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeadImage</servlet-name>
    <url-pattern>/HeadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyPost</servlet-name>
    <url-pattern>/ReplyPost</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
